@import url(formulario.css);


#iniciosesion{
    margin-top: 55px;
}

.piepagina{
    padding: 20px;
    margin-top: 15px;

}

.form-registro{
    text-align: center;
}

.form-registro p{
    text-align: center;
    color: blue;
    padding: 6px;
    margin-top: 15px;
    margin-bottom: 1px;
}