.carrusel{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
}

.noticia{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
}

.contenedor-principal{
    background-color: rgb(45, 50, 51);
    
}